.hidden {
    display: none;
}

.splash{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    padding: 24px;
}

.login-button{
    font-size: 16px;
    font-weight: 700;
    padding: 12px;
}

form{
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 24px;
    border-radius: 8px;
}